{% include 'function3/function3.html.twig' %}
<!-- TODO redesign des cartes-->
<div class="cards">
    {% for feature in response %}
    <article class="card">
        <header>
            <p>{{ feature.properties.numero_voie }} {{ feature.properties.voie }}</p>
            <p>{{ feature.properties.code_postal }}</p>
            <p>{{ feature.properties.commune }}</p>
        </header>
        <div class="content">
            <p> {{feature.properties.nature_mutation }} le {{ feature.properties.date_mutation }} pour {{ feature.properties.valeur_fonciere }} €</p>
            <p> {{feature.properties.nombre_pieces_principales }} pièce(s) avec une surface de {{ feature.properties.surface_relle_bati }} m²</p>
        </div>
    </article>
    {% endfor %}
    <p id="error">{{ error }}</p>
</div>

<style>
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    margin-top 2em;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
}
#error {
    color:red;
    font-weight: bold;
}
</style>