{% extends 'base.html.twig' %}
{%  form_theme form "form2style.html.twig" %}
{% block body %}

    <h1 class="function2_h1"> Estimateur de surface:</h1>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success w-90 ml-auto mr-auto mb-5 text-center" role="alert">
            <h4 class="alert-heading">{{ message }}</h4>
        </div>
    {% endfor %}
    <div class="form2">
        {{ form_start(form) }}
        <small class="form2error">{{ form_errors(form) }}</small>
        <div class="form2textarea">
            <td class="form2input">Budget Max:<br>{{ form_widget(form.budget_max) }}</td>
            <td class="form2input">Budget Min:<br>{{ form_widget(form.budget_min) }}</td>
            <td class="form2input">Code Postal:<br>{{form_widget(form.code_postal)}}</td>
            <td class="form2input">Type de Bien:<br>{{form_widget(form.type)}}</td>
        </div>
        <button type="submit" class="form2btn" >Confirmer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

