{% extends 'base.html.twig' %}

{% block body %}
    <div class="form2">
        {{ form_start(form) }}
            {{ form_errors() }}
            <div class="form2textarea">
                <td class="form2input">Budget Max: {{ form_widget(form.budget_max) }}</td>
                <td class="form2input">Budget Max: {{ form_errors(form.budget_max) }}</td>
                <td class="form2input">Budget Min: {{ form_widget(form.budget_min) }}</td>
                <td class="form2input">Code Postal:{{form_widget(form.code_postal)}}</td>
            </div>
                <button type="submit" class="form2btn" >Confirmer</button>


        {{ form_end(form) }}
    </div>
{% endblock %}

