{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        {{ form_start(form) }}
            <td class="col-1">Budget: {{ form_widget(form.budget) }}</td>
            <td class="col-1">Code Postal:{{form_widget(form.code_postal)}}</td>
            <td class="col">Commune: {{form_widget(form.code_commune)}}</td>
            <button type="submit" class="btn btn-success" >Confirmer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

