{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        {% if type == "1" %}
            <p>Avec votre budget, vous pouvez avoir une maison de :</p>
            <p>{{surfaceMax}}m² avec {{terrain}}m² de terrain</p>
            <p>{{surface}}m² avec {{terrainMax}}m² de terrain</p>
        {% elseif type == "2"%}
            <p>Avec votre budget, vous pouvez avoir un appartement de: {{surface}}m²</p>
        {% endif %}
    </div>
{% endblock %}

