{% extends 'base.html.twig' %}

{% block title %}Estimation du prix{% endblock %}

{% block body %}

<div class="container mt-3">
    {{ form_start(estimatePriceForm) }}
    <div class="row mb-3">
        <div class="col-6">
            {{ form_row(estimatePriceForm.cityCode) }}
        </div>
        <div class="col-6">
            <label>Section
                <a href="#"
                   onclick="window.open('https://www.cadastre.gouv.fr/scpc/accueil.do', 'popupwindow', 'width=500,height=500,scrollbars,resizable');
           return false;">Connaitre sa section
                </a>
            </label>
            {{ form_widget(estimatePriceForm.section) }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            {{ form_row(estimatePriceForm.surface) }}
        </div>
        <div class="col-6">
            {{ form_row(estimatePriceForm.area) }}
        </div>
    </div>

    {{ form_end(estimatePriceForm) }}
    {{ dump(estimatePrice) }}
    {{ dump(estimatePrice2years) }}
</div>
{% endblock %}
